In [1]:
import numpy as np
import pandas as pd

In [30]:
df=pd.read_csv("MegaMart_sales.csv")

In [31]:
df.shape

(59, 8)

In [32]:
df_new=pd.read_csv("MegaMart_newsales.csv")

In [41]:
df_new.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category
0,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders
1,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases
2,AZ-2011-1916555,"Eldon Folders, Single Width",0.4,61,7,6,Office Supplies,Storage
3,AZ-2011-1930058,"Sanford Markers, Easy-Erase",0.0,71,1,3,Office Supplies,Art
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories

#### Combining two data frames
Question 1: Some of the orders are stored in another csv file named `megamart_new sales`. Read the csv file, store it in a data frame and add it to the `megamart_sales` data frame. Find the total sales value of the category 'Office Supplies'  after combining the dataframes

    a)7970
    b)6964
    c)7494
    d)6076

In [40]:
#your code here
sales = df_new.merge(df, how="outer")
sales.shape

(68, 8)

In [43]:
sales.groupby("Category").sum()

                 Discount  Sales  Profit  Quantity
Category
Furniture             1.3   2460     333        36
Office Supplies       4.7   7970    1338       169
Technology            0.0   8588    2278        60

#### Dropping duplicates
Question 2: There are some duplicate rows in the data frame. Drop these rows and calculate the total sales value of the category Office Supplies.

    a)7156
    b)6496
    c)6964
    d)6023

In [52]:
#your code here
sales = sales.drop_duplicates(keep='last')
#help(sales.drop_duplicates)
sales.groupby("Category").sum()

                 Discount  Sales  Profit  Quantity
Category
Furniture             1.3   2460     333        36
Office Supplies       3.6   6964    1045       149
Technology            0.0   7494    2001        50

#### Best category-sub category 
Question 3: Find the most profitable category and sub category combination based on the net profit.


    a)Furniture-Bookcases
    b)Office supplies-Appliances
    c)Office supplies-Storage
    d)Technology-Phones

In [56]:
#your code here
sales.groupby(["Category","Sub-Category"]).sum().sort_values("Profit", ascending=False)

                              Discount  Sales  Profit  Quantity
Category        Sub-Category
Technology      Phones             0.0   5199    1618        26
Furniture       Bookcases          0.1   1459     308        11
Office Supplies Art                1.0   1364     275        44
                Appliances         0.1   1819     229         8
Technology      Accessories        0.0   1053     215        18
Office Supplies Storage            2.0   2019     192        25
Technology      Machines           0.0    800     168         3
Office Supplies Binders            0.5    924     156        31
                Supplies           0.0    362     103        11
Furniture       Furnishings        0.0    443      74        12
Office Supplies Envelopes          0.0    146      35         9
                Labels             0.0    166      30        15
                Paper              0.0    136      15         4
                Fasteners          0.0     28      10         2
Technology      Copiers            0.0    442       0         3
Furniture       Chairs             1.2    558     -49        13

#### Invalid order IDs
Question 4: How many invalid order IDs are there in the data frame. An order id is of the form AZ-2011-Y where Y represents a whole number. A Order ID is said to be valid only if Y consists of 7 digits. Find the number of valid order order IDs in the data frame.
    
    a)6
    b)7
    c)8
    d)9

In [84]:
#your code here
#sales[sales["Order ID"].str.len()<15]
#sales[sales["Order ID"]
sales["order_len"] = sales['Order ID'].apply(lambda x: len(x))
sales.head()

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order_len
0,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders,15
1,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases,15
2,AZ-2011-1916555,"Eldon Folders, Single Width",0.4,61,7,6,Office Supplies,Storage,15
3,AZ-2011-1930058,"Sanford Markers, Easy-Erase",0.0,71,1,3,Office Supplies,Art,15
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,15

#### Occurence of furniture in top 25 sales
Question 5: Find the top 25 orders based on sales value and find the number of orders which belong to furniture category.

    a)2
    b)3
    c)4
    d)5

In [91]:
#your code here

sales.sort_values("Sales", ascending=False).head(25)[sales["Category"]=="Furniture"]

<ipython-input-91-dffff8570fba>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  sales.sort_values("Sales", ascending=False).head(25)[sales["Category"]=="Furniture"]

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order_len
40,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases,14
24,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases,15
28,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs,14
1,AZ-2011-1916360,"Dania 3-Shelf Cabinet, Mobile",0.0,288,20,2,Furniture,Bookcases,15
54,AZ-2011-1589827,"Novimex Steel Folding Chair, Red",0.6,164,-70,5,Furniture,Chairs,15

#### And operation
Question 6: Among the orders with sales>250 and profit>50, find the product name of the fourth highest order based on sales value.

    a)Motorola Headset, with Caller ID
    b)Panasonic Printer, Durable	
    c)Hoover Microwave, Red	
    d)Fellowes Lockers, Industrial

In [97]:
#your code here
sales[(sales["Sales"]>250) & (sales["Profit"]>50)].sort_values("Sales",ascending=False)

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order_len
39,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,15
67,AZ-2011-176674,"Hoover Microwave, Red",0.1,1667,185,6,Office Supplies,Appliances,14
20,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,15
32,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,15
14,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,15
30,AZ-2011-1406494,"Fellowes Lockers, Industrial",0.1,748,283,4,Office Supplies,Storage,15
50,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,15
42,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,15
40,AZ-2011-144325,"Bush Stackable Bookrack, Pine",0.0,630,132,5,Furniture,Bookcases,14
25,AZ-2011-1260928,"Eldon File Cart, Single Width",0.1,576,51,5,Office Supplies,Storage,15
24,AZ-2011-1253407,"Safco Stackable Bookrack, Pine",0.1,541,156,4,Furniture,Bookcases,15
60,AZ-2011-1672552,"Binney & Smith Sketch Pad, Blue",0.0,510,132,11,Office Supplies,Art,15
63,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,15
0,AZ-2011-1902971,"Wilson Jones Binding Machine, Clear",0.0,339,102,7,Office Supplies,Binders,15
28,AZ-2011-130330,"Office Star Chairmat, Adjustable",0.1,307,99,5,Furniture,Chairs,14
12,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,15

#### Column manipulation
Question 7: Remove the orders with negative profit by dropping the corresponding rows with negative `Profit`. Find the product that makes the lowest profit per Quantity in the Technology category.

    a) Nokia Audio Dock, with Caller ID
    b) Logitech Keyboard, Programmable
    c) Motorola Headset, with Caller ID
    d) Belkin Flash Drive, Bluetooth

In [103]:
#your code here
sales["prof_per_qty"] = sales["Profit"]/sales["Quantity"]
sales[(sales["Profit"]>0) & (sales["Category"]=="Technology")].sort_values("prof_per_qty")

,Order ID,Product Name,Discount,Sales,Profit,Quantity,Category,Sub-Category,order_len,prof_per_qty
50,AZ-2011-1536006,"Logitech Keyboard, Programmable",0.0,666,66,9,Technology,Accessories,15,7.333333
12,AZ-2011-1087704,"Belkin Flash Drive, Bluetooth",0.0,294,109,7,Technology,Accessories,15,15.571429
4,AZ-2011-1967754,"Logitech Numeric Keypad, USB",0.0,93,40,2,Technology,Accessories,15,20.000000
20,AZ-2011-1174243,"Nokia Audio Dock, with Caller ID",0.0,1334,200,8,Technology,Phones,15,25.000000
32,AZ-2011-1322840,"Motorola Headset, with Caller ID",0.0,957,316,12,Technology,Phones,15,26.333333
14,AZ-2011-1372644,"Panasonic Printer, Durable",0.0,800,168,3,Technology,Machines,15,56.000000
63,AZ-2011-1722024,"Cisco Audio Dock, VoIP",0.0,364,142,2,Technology,Phones,15,71.000000
42,AZ-2011-1445262,"Apple Smart Phone, Cordless",0.0,636,140,1,Technology,Phones,15,140.000000
39,AZ-2011-1410648,"Nokia Smart Phone, Full Size",0.0,1908,820,3,Technology,Phones,15,273.333333